<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-button slot="start">
      <ion-menu-button menu="m2"></ion-menu-button>
    </ion-button>
    <ion-title>RegistrApp Profesores</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <div id="carouselExampleAutoplaying" class="carousel slide" data-bs-ride="carousel">
    <div class="carousel-inner">
      <div class="carousel-item active">
        <img src="https://firebasestorage.googleapis.com/v0/b/proyect2-daf7b.appspot.com/o/WhatsApp%20Image%202024-12-10%20at%2012.39.32%20AM%20(1).jpeg?alt=media&token=929b0ba8-f2c2-44cf-a075-0627d7220b54" class="d-block w-100" alt="...">
      </div>
      <div class="carousel-item">
        <img src="https://firebasestorage.googleapis.com/v0/b/proyect2-daf7b.appspot.com/o/WhatsApp%20Image%202024-12-10%20at%2012.40.02%20AM.jpeg?alt=media&token=6475ab35-6ef7-421f-9614-e046576fe045" class="d-block w-100" alt="...">
      </div>
      <div class="carousel-item">
        <img src="https://firebasestorage.googleapis.com/v0/b/proyect2-daf7b.appspot.com/o/WhatsApp%20Image%202024-12-09%20at%2011.43.07%20PM.jpeg?alt=media&token=cbd4cfdd-dc93-4524-ae66-8dce6f1b6aa4" class="d-block w-100" alt="...">
      </div>
    </div>
    <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleAutoplaying" data-bs-slide="prev">
      <span class="carousel-control-prev-icon" aria-hidden="true"></span>
      <span class="visually-hidden">Previous</span>
    </button>
    <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleAutoplaying" data-bs-slide="next">
      <span class="carousel-control-next-icon" aria-hidden="true"></span>
      <span class="visually-hidden">Next</span>
    </button>
  </div>  
</ion-content>
