
<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Main</ion-title>
    </ion-toolbar>
  </ion-header>
  <div id="container" class="container" >
    <img alt="Logo RegistrApp" width= 45% height="auto" src="https://firebasestorage.googleapis.com/v0/b/proyect2-daf7b.appspot.com/o/Logo_RegistrApp.png?alt=media&token=bd36c9ff-e46a-442d-a830-22025ccb1e75" />
    <div>
      <h1>𝑩𝒊𝒆𝒏𝒗𝒆𝒏𝒊𝒅𝒐 𝒂 𝑹𝒆𝒈𝒊𝒔𝒕𝒓𝑨𝒑𝒑</h1>
      <h5>Pulsa aquí para ingresar</h5>
      <div class="d-grid gap-2">
        <ion-button [routerLink] = "['/login']">Pulsa Aqui</ion-button>
    </div>
  </div>
  </div>
</ion-content>
