<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
    <ion-title>Inicio sesión Alumnos</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <form [formGroup]="formulariologin" (ngSubmit)="onLogin()">
    <ion-item>
      <ion-label position="floating">Correo Electrónico</ion-label>
      <ion-input type="email" formControlName="correo"></ion-input>
    </ion-item>
    <div *ngIf="formulariologin.get('correo')?.invalid && formulariologin.get('correo')?.touched">
      <ion-text color="danger">Introduce un correo válido.</ion-text>
    </div>

    <ion-item>
      <ion-label position="floating">Contraseña</ion-label>
      <ion-input type="password" formControlName="password"></ion-input>
    </ion-item>
    <div *ngIf="formulariologin.get('password')?.invalid && formulariologin.get('password')?.touched">
      <ion-text color="danger">La contraseña debe tener al menos 6 caracteres.</ion-text>
    </div>

    <ion-button expand="full" type="submit" [disabled]="formulariologin.invalid">Iniciar Sesión</ion-button>
  </form>
</ion-content>

<ion-footer>
  <ion-toolbar>
  <ion-label>¿No tienes cuenta?</ion-label>
  <ion-button [routerLink] = "['/register']">Registrate</ion-button>
  <ion-label slot="end"> ¿Eres Profesor?</ion-label>
  <ion-button slot= "end" style="position:relative; " [routerLink] = "['/inicio']">Acceder</ion-button>
  <!--La versión final tendrá el profesor su propio login-->
</ion-toolbar>
</ion-footer>